
<% include partials/header.ejs %>

    <div id="header"class="container">
    </div>

<div class="container" id="mainContainer">
    <div  class="container " >
     
     
     
     
     
     
            <% blogs.forEach(function(blog){ %>
            <div  >
                <div >
                    <div class="row">
                        <div id="indexImage" style="" class="col-lg-4 float-left">
                        <img    style="height:100%;width:100%;" src="<%=blog.image%>" >
                        </div>
                        
                        <div  class="col-lg-8">
                            
                            <span ><h2 ><%=blog.title%></h2></span>
                            
                            
                            
                            <span style="color:grey;"><%=blog.created.toDateString()%></span>
                            <p><%=blog.body.substring(0,200)%>...</p>
                            
                            <!--The show details button-->
                            <form action="/blogs/<%=blog._id %>" method="GET">
                            <button class="ui animated button" tabindex="0">
                                <div class="visible content">Show Details</div>
                                <div class="hidden content">
                                    <i class="file alternate outline icon"></i>
                                </div>
                                </button>
                            </form>
                            <!--end of button -->
                            
                        
                        </div>
                        
                        
                        
                    </div>
                    <div >
                            <hr style="border-color:white;">
                    </div>
            </div>
    </div>
            <% }) %>
    </div>        
</div>
<%  include partials/footer.ejs %>